.delivery__blocks-btn {
  display: flex;
  align-items: center;

}

.order {
  color: white;
  background: #0f5a47;
  margin: 30px 0;
}

.btn-clear {
  text-decoration: none;
  color: #0f5a47;
  margin-left: 20px;
}