.search-form {
  height: 40px;
  width: 180px;
}

.search-form__street {
  height: 40px;
  width: 368px;
}

.search-form__link {
  height: 40px;
  width: 68px;
}

.search-form__comment {
  height: 140px;
  width: 380px;
}