.section-title {
  font-size: 55px;
  color: white;
  line-height: 1;
  margin-bottom: 25px;
  text-transform: uppercase;

}

.section-text {
  font-size: 20px;
  color: white;
  margin-bottom: 45px;
}