.about__column {
  flex: 0 0 33.333%;
  padding: 5px 5px;
  text-align: center;

  &:last-child {
    margin-right: 0;
  }
}

.item-about__icon {
  background: whitesmoke;
  width: 50px;
  height: 50px;
  border: 20px solid whitesmoke;
  border-radius: 50%;
  display: flex;
  align-items: center;
  margin-left: 100px;
}

.item-about__title {
  text-align: center;
  font-size: 20px;
  color: #000000;
  letter-spacing: 0; // растянуть
}

.item-about__text {
  align-items: center;
  color: gray;
  line-height: 1.2;
  font-size: 16px;
}